.red{
	font-size: 20px;
	color: red
}
.good{
	width: 300px;
	height: 300px;
	background-image: url(../imgs/good.png);
	/*注意这里的no-reapeat 等一些字样封开来写，不然会有bug*/
	background-position: center;
}
.blue{
	color: blue;
}